@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@200;400;600&display=swap");

$font: "Trispace", sans-serif;

$color1: #fbeeac;
$color2: #f4d160;
$color3: #f0a500;
$color4: #e45826;
